<!--Webpage design components borrowed from templates of Exercises 5 and 6-->

<html>
<head>
  <title>Belay</title>
  <link rel="stylesheet" href="/static/style.css">
  <script>
    davidzhang_user_id = '';
    davidzhang_api_key = '';
    {% if user %}
        davidzhang_user_id = {{ user.id }};
        davidzhang_api_key = '{{ user.api_key }}';
    {% endif %}
  </script>
</head>
<body>
    <div class="login" id="login">
        <div class="clip">
          <div class="auth container">
            <div class="alignedForm login">
              <label for="username">Username</label>
              <input name="username" id="login_username"></input>
              <button id="login_button">Login</button>
              <br>
              <label for="password">Password</label>
              <input type="password" id="login_password" name="password">
            </div>
            <div class="failed" id="login_error">
              <div class="login_error_message">
                Oops, that username and password don't match any of our users!
              </div>
              <button id="signup_button">Create a new Account</button>
            </div>
          </div>
        </div>
    </div>


    <div class="profile" id="profile">
        <div class="clip">
          <div class="auth container">
            <div class="alignedForm login">
              <label for="username">New Username</label>
              <input name="username" id="profile_username"></input>
              <button id="profile_update_button">Update Username AND Password</button>
              <br>
              <label for="password">New Password</label>
              <input type="password" id="profile_password" name="password">
            </div>
            <h3><a href="../">Back to home</a></h3>
            <div class="profile_update_error"></div>
          </div>
        </div>
    </div>


    <div class="container" id="application">
        <div class="channels_column" id="channels_column">
        <h3><a class="to_profile" href="/profile">Profile</a></h3>
        <button id="logout_button">Logout</button>
        <br>
        <h3>Channels</h3>
        <div class="channelsList" id="channelsList">
            <a>No channels</a>
        </div>
        </div>


        <div class="messages_column" id="messages_column">
        <h3><a class="to_channelist" href="/">Close this pane</a></h3>
        <br><br>
        <h3><strong class="channelName"></strong></h3>
        <div class="new_message">
            <input type="text" id="message_content" placeholder="Type your message here...">
            <button id="post_button">Post</button>
        </div>
        <br><br>
        <div class="messages">
        </div>
        </div>
        <div class="messages_none" id="messages_none">
            <h3>No channel selected</h3>
        </div>


        <div class="replies_column" id="replies_column">
        <h3><a class="to_messages" href="/">Close this pane</a></h3>
        <h3>Thread</h3>
        <a class="reply_message">Replies to this message</a>
        <br><br>
        <div class="new_reply">
            <input type="text" id="reply_content" placeholder="Type your reply here...">
            <button id="reply_button">Reply</button>
        </div>
        <br><br>
        <div class="thread-messages">
        </div>
        </div>
    </div>

<script src="/static/script.js"> </script>
</body>
</html>
